<h1>{{section.settings.title}}</h1>
<p>
  {{section.settings.subtext_title | escape}}
</p>

{% schema %}
{
  "name": "Template 404",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "404",
      "label": "404 Heading Title",
    },
    {
      "type": "text",
      "id": "subtext_title",
      "default": "We're sorry, but the page you were looking for doesn't exist.",
      "label": "404 Subtext Title",
    }
  ]
}
{% endschema %} 